<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Événements des salles</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

  <html>
  <nav>
    <div class="container">
        <a class="active" href="index.html">
            <img src="imgs/home.png" />
            Accueil
          </a>
          <a href="plan.html">
            <img src="imgs/map.png" />
            Plan
          </a>
          <a class="" href="evenements.html">
            <img src="imgs/events.png" />
            Événements
          </a>
      <div class="expand"></div>
      <img class="logo" src="imgs/iut.png" />
    </div>
  </nav>

  <div class="container">
    <h1>Bienvenue</h1>

    <div class="info">
      <p>
        Sur cette application, vous trouverez les événements qui ont lieu au département informatique de l'IUT de Bordeaux
      </p>
    </div>
    
    <div class="footer">
      Projet développé par des étudiants du département informatique de l'IUT de Bordeaux - 2019-2020
    </div>
  </div>
  </html>
</body>

</html>
