* {
    font: 15px/1.5 sans-serif;
    line-height: 1.25;
    padding:0;
    margin:0;
}

a {
    color:#356ae4;
}

h1 {
    text-align:center;
    font-size: 22px;
    margin-left:30px;
}

h2 {
    font-size: 20px;
    padding:0px;
    margin:10px;
    text-align:center;
}

h2.title {
    font-weight:bold;
    text-align:left;
}

.container {
    margin-left:5%;
    margin-right:5%;
}

nav .logo {
    display:none;
}

nav .container {
    display:block;
}

nav {
    margin-bottom: 10px;
    background: linear-gradient(white 0%, #eee 100%);
}

nav .container {
    padding-left:5%;
    padding-right:5%;
}

.expand {
    flex-grow:1;
}

nav a {
    color:black;
    text-decoration:none;
    margin-right:30px;
    display:block;
    padding:10px;    
    text-align:center;
    opacity:0.7;
}

nav a.active, nav a:hover {
    opacity:1;
}

nav .title {
    float:right;
}

nav img {
    vertical-align: middle;
}


@media screen and (min-width: 860px) {
    nav a.active, nav a:hover {
        background-image:url('imgs/arrow.png');
        background-repeat:no-repeat;
        background-position:center bottom;
    }

    .container {
        margin-left: 10%;
        margin-right: 10%;
     }

    nav .logo {
        display:block;
    }

    nav .container {
        display:flex;
    }
}

.footer {
    margin-top:50px;
    border-top:1px solid #eee;
    text-align:center;
    font-size:80%;
    color:#aaa;
    padding-top:10px;
    font-variant:italic;
}

.info {
    margin:20px;
    background-color:#f2f2ff;
    border-radius:5px;
    color:#27276c;
    padding:10px;
    background-image:url('imgs/info.png');
    background-repeat:no-repeat;
    background-position:13px 8px;
    padding-left:35px;
}

.days {
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.days img {
    vertical-align:middle;
}


.center {
    text-align:center;
}

.apercu {
    border:5px dashed #333;
    opacity:0.5;
}

.right-button {
    float:right;
    margin:2px;
}