
# Connexion à la base de données
export MYSQL_HOST=localhost
export MYSQL_USER=pt2_events
export MYSQL_PASSWORD=pt2_events
export MYSQL_DATABASE=pt2_events
export MYSQL_PORT=3306

# Dossier contenant les templates (entrée) et le site web (sortie)
export WEBSITE_DIRECTORY=$PWD/www/
export TEMPLATES_DIRECTORY=$PWD/templates/

# Adresse à laquelle le site web est déployée
export WEBSITE_URL=http://site-web-en-ligne.com/

# Adresse de l'API
export API_URL=http://info-timide.iut.u-bordeaux.fr/projets/pt2_api/

# Permet de fausser la date au moment de la génération (voir code java)
# export DATE_GENERATION="2020-04-13 09:10:00"
